<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WechatWebViewProgressDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28A7A1721D38BA0200707DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A7A18B1D38BA0200707DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A7A1961D38BA0200707DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
